app = 'chonaikai-messenger'
primary_region = 'nrt'

[build]

[env]
  PORT = '3000'
  NODE_ENV = 'production'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'

[mounts]
  source = 'chonaikai_data'
  destination = '/app/server/data'
